In [1]:
import pandas as pd

In [8]:
df1 = pd.read_csv(r"C:\Users\kingd\Ennovar\data\products.csv")
df2 = pd.read_csv(r"C:\Users\kingd\Ennovar\data\transactions.csv")

merged = pd.merge(df1, df2, on="Product ID", how="inner")
merged=merged[merged['Currency']=='USD']
df=merged[['Date','Category','Sub Category','Transaction Type','Quantity','Invoice Total','Size','Line Total']].copy()
df

,Date,Category,Sub Category,Transaction Type,Quantity,Invoice Total,Size,Line Total
0,2023-01-01 13:28:00,Feminine,Coats and Blazers,Sale,1,139.8,M,43.2
1,2023-01-01 17:00:00,Feminine,Coats and Blazers,Sale,2,148.8,S,86.4
2,2023-01-01 15:03:00,Feminine,Coats and Blazers,Sale,1,43.2,S,43.2
3,2023-01-03 11:02:00,Feminine,Coats and Blazers,Sale,1,60.0,S,43.2
4,2023-01-04 09:46:00,Feminine,Coats and Blazers,Sale,1,66.3,M,43.2
...,...,...,...,...,...,...,...,...
6416809,2025-03-08 10:06:00,Children,Accessories,Sale,1,27.5,NaN,27.5
6416810,2025-03-12 13:20:00,Children,Accessories,Sale,1,27.5,NaN,27.5
6416811,2025-03-12 11:54:00,Children,Accessories,Sale,2,55.0,NaN,55.0
6416812,2025-03-01 18:55:00,Children,Accessories,Sale,1,27.5,NaN,27.5
6416813,2025-03-07 20:25:00,Children,Accessories,Sale,1,27.5,NaN,27.5

In [9]:
df["Date"]=pd.to_datetime(df["Date"])

In [10]:
x=df[(df["Date"].dt.year==2023) & (df["Category"]=="Feminine") & (df["Sub Category"]=="Coats and Blazers") & (df["Size"]=="M")].copy()
x

,Date,Category,Sub Category,Transaction Type,Quantity,Invoice Total,Size,Line Total
0,2023-01-01 13:28:00,Feminine,Coats and Blazers,Sale,1,139.8,M,43.2
4,2023-01-04 09:46:00,Feminine,Coats and Blazers,Sale,1,66.3,M,43.2
5,2023-01-09 18:10:00,Feminine,Coats and Blazers,Sale,1,138.6,M,43.2
10,2023-01-01 20:45:00,Feminine,Coats and Blazers,Sale,1,83.7,M,43.2
13,2023-01-07 12:20:00,Feminine,Coats and Blazers,Sale,1,170.5,M,43.2
...,...,...,...,...,...,...,...,...
6284724,2023-01-01 00:00:00,Feminine,Coats and Blazers,Return,1,-89.0,M,-89.0
6305495,2023-01-01 00:00:00,Feminine,Coats and Blazers,Return,1,-137.0,M,-85.5
6322907,2023-01-03 00:00:00,Feminine,Coats and Blazers,Return,1,-155.0,M,-93.5
6393436,2023-01-01 00:00:00,Feminine,Coats and Blazers,Return,1,-111.0,M,-111.0
6405871,2023-01-04 00:00:00,Feminine,Coats and Blazers,Return,1,-149.5,M,-103.5

In [12]:
check_sum=x["Line Total"].sum()
check_sum

np.float64(816958.95)